.imageContainer {
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 56.25%; /* 9 / 16 = 0.5625 */
  position: relative;
  width: 100%;
}

.image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
